[Unit]
Description=Pi usb serial gadgets seup

[Service]
Type=forking
ExecStartPre=
ExecStart=/usr/local/bin/piuart.sh
ExecStop=killall playusb
ExecStopPost=
User=root
Restart=never
TimeoutStartSec=0
[Install]
WantedBy=multi-user.target
