[Unit]
Description=daemon for driving LCD based displays

[Service]
Type=forking
EnvironmentFile=-/etc/lcd4linux/axlcd4linux.conf
ExecStart=/usr/local/bin/lcd4linux -F -f /etc/lcd4linux/axlcd4linux.conf
ExecStop=killall axlcd4linux
User=root
PIDFile=/var/run/lcd4linux.pid
#ExecStartPre=systemctl enable lcd4linux.service
ExecStopPost=systemctl disable axlcd4linux.service
Restart=always
TimeoutStartSec=10
[Install]
WantedBy=multi-user.target
